html,
body {
    box-sizing: border-box;
    background:black;
    color:white;
}

footer {
    color:white;
    background: black;
    text-align: center;
    padding: 10px;
}

#intro {
    background-color: white;
    color:black

}

.section-wrapper-top {
    background:#414141;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap:5px;
    justify-content: space-between;
    margin:10px;
    padding: 20px;
    border-radius: 2px;
}

@media screen and (max-width:1000px) {
    .section-wrapper-top {
        grid-template-columns: repeat(3,1fr);
    }
}

.section-wrapper-middle {
    background:white;
    color:black;
    margin:10px;
    padding: 20px;
    border: 10px solid #294221;
    border-radius: 2px;
}

h1 {
    text-align: center;

}

.section-wrapper-bottom {
    background: white;
    color:black;
    display:flex;
    flex-direction: column;
    gap: 5px;
    margin:10px;
    padding: 20px;
    border: 10px solid #c6ba73;
    border-radius: 2px;
}

.section-wrapper-bottom .module-wrapper {
    display: inline-grid;
    grid-template-columns: 50% 50%;
    gap:5px;
}

@media screen and (max-width: 1000px){
    .section-wrapper-bottom .module-wrapper {
        display: flex;
        flex-direction: column;;
    }

}


.section-wrapper-bottom .unit-wrapper {
    display: inline-grid;
    grid-template-rows: auto 100px;
    gap:5px;
    border-bottom: 1px solid #212121;
    padding: 20px;
}

.unit-wrapper #title {
}

input,
label {
    box-sizing: border-box;
}

p {
    font-size: 24px;
}

.content p {
    text-align: center;
    font-size: 22px;
}

#color-font-wrapper {
    display: flex;
}
