html,
body {
  box-sizing: border-box;
  background-color: black;
  color: white;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  gap:20px;
  margin: 0px;
  padding: 0px;
  display: block;
  min-width: 320px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
  color: rgb(29,29,31);
}

nav {
  z-index: 99;
  width: 100%;
  min-width: 320px;
  height: 48px;
  min-height: 44px;
  margin: 0px;
  font-size: 18px;
  display: block;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  background-color: black;;
}



.nav-content {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-sizing: border-box;
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    max-height: 48px;
    padding-inline-end: 22px;
    padding-inline-start: 22px;
    display: block;
    direction: ltr;
    max-width: 400px;
}

ul {
    list-style-type: none;
    text-align: center;
    float: none;
    gap: 5px;
    font-size: 18px;
    direction: ltr;
    padding:0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-inline-end: -8px;
    margin-inline-start: -8px;
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 48px;
    }
  
  li {
    border-radius: 20px;
    height: 48px;
    padding: 0px;
    margin: 0px;
    transition: 0.3s;
    display: block;
    text-align: left;
  }

a {
    color: white;
    align-items: center;
    background-size: auto;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    height: 48px;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: left;
    z-index: 1;
    text-decoration: none;
    float: center;
    text-wrap: nowrap;
  }

  #nav-item-fishhead {
    height: 48px;
  }

nav,
.nav-content,
ul,
li,
.nav-link {
    animation-name: navdrop;
    animation-duration: 2s;
}

@keyframes navdrop {
    0% {height: 0px; opacity: 0;}
    100% {height: 48px; opacity: 1;}
}
/* navigation styles finishes*/

main {
   display: block;
   font-size: 16px;
   font-weight: 400;
   line-height: 19.2px;
   min-height: 100%;
   -webkit-font-smoothing: antialiased;
   position: relative;
   padding-top: 48px;
}

.home-section, 
.sec-title-container,
.title-wrapper1,
.title-button-wrapper {
    color: white;
    line-height: 19.2px;
    box-sizing: border-box;
    font-size: 30px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    display: block;
    text-align: center;
}

#home-section-one {
    animation-name:homeSectionAppear;
    animation-duration: 2s;
    background: black;
}

@keyframes homeSectionAppear {
    from {opacity: 0;}
    to {opacity: 1;}
}

#video-title-container {
    background: black;
}

#welcome {
    animation-name: welcomeAppear;
    animation-duration: 2s;
}

@keyframes welcomeAppear {
    from {width: 600px;}
    to {width: 0px;}
}

#i-dont-know {
    animation-name: idontknowappear;
    animation-duration: 1s;
}

@keyframes idontknowappear{
    from {font-size: 0;}
    to {font-size: 30px;}
}

video {
    animation-name: videoAppear;
    animation-duration: 3s;
}

@keyframes videoAppear {
    0% {opacity: 0;}
    50% {opacity:0;}
    100% {opacity: 1;}
    
}

.home-section {
    background-color: green;
    margin: 0px;
    max-width: none;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 42;
    display: flex;
    flex-direction: column;
}

.title-wrapper1 {
    min-width: 260px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    position: relative;
    background-color: gray;
    height: 60px;
}

.title-button-wrapper {
    cursor: pointer;
    line-height: 36px;
    background-color:purple;
    height: 60px;
}

button {
    align-items: center;
    height: 60px;
    font-size: 26px;
    background-color: red;
    box-sizing:border-box;
    box-shadow: none;
    border: none;
    color: white;
}

button:hover {
    cursor: pointer;
}

.sec-content-container {
    display: grid;
    column-gap: 12px;
    grid-template-columns: repeat(4,1fr);
    justify-items: stretch;
    line-height: 25px;
    position: relative;
    column-gap: 12px;
    row-gap: 12px;
    text-size-adjust: 100%;
    margin: 0px;
    background-color: pink;
    min-width: 260px;
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 24px;
    padding-bottom: 24px;
    height: 100%;
}

@media screen and (max-width: 1000px) {
    .sec-content-container {
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 500px) {
    .sec-content-container {
        grid-template-columns: repeat(1,1fr);
    }
}

.module-wrapper,
.module-content {
    height: 100%;
    line-height: 25px;
    position: relative;
    background-color: orange;
}

.unit-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    background-color: green;
    z-index: 10;
}

.unit-link {
    cursor: pointer;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 4;
    position: absolute;
    padding: 0px;
}

.unit-image-wrapper {
    display: block;
    position: relative;
    text-align: center;
    padding-bottom: 100%;
}

.unit {
    display: block;
    overflow: hidden;
    text-align: center;
    height: 100%;
    width: 100%;
}

.unit-image {
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
}

.fishhead {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

.unit-copy-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 30px;
    z-index:3;
    position: relative;
    text-align: center;
    background: brown;
}

.unit-title {
    display: block;
    text-align: center;
    font-size: 18px;
}

.unit-desc {
    display: block;
    text-align: center;
    font-size: 14px;
}


#sec-content-education-container {
    grid-template-columns: repeat(2,1fr);
}

#sec-content-finance-container {
    grid-template-columns: repeat(5,1fr);
}

.video-title-container {
    width: 100%;
    margin-inline-end: 50px;
    margin-inline-start: 50px;
    max-width: 1680px;
    display: block;
    background-color: brown;
}

.video-container {
    height: 500px;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    height: 320px;
    max-height: 1260px;
    max-width: 1920px;
    width: 100%;
    display: flex;
}

.section-header {
    align-items: flex-end;
    column-gap: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 24px;
    padding-bottom: 60px;
    row-gap: 28px;
}

.section-header-copy-container {
    display: block;
    line-height: 32px;
}


.video-content-container {
    display: flex;
    position: relative;
}

.video-clear {
    position: absolute;
}

.video-control-container {
    position: absolute;
    display: flex;
    text-align: left;
}

.video-control-button {
    position: sticky;
    box-sizing: content-box;
    display: flex;
}


#graphics {
    background-color: black;
}

#graphics {
    padding: 40px;
}

.graphics-wrapper {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    overflow: hidden;
    gap: 5px;
    height: 100%;
    width: 100%;
    background: pink;
}

.graphics-container1,
.graphics-container2,
.graphics-container3 {
    background-color: yellow;
    display: grid;
    grid-template-rows: repeat(34,1fr) ;
}

.graphics-container1 {
    background-color: blue;
}

.graphics-container2 {
    font-size: 20px;
}

.graphics-container3 {
    background-color: aqua;
}

#row1,
#row2,
#row3,
#row4,
#row5,
#row6,
#row7,
#row8,
#row9,
#row10,
#row11,
#row12,
#row13,
#row14,
#row15,
#row16,
#row17,
#row18,
#row19,
#row20,
#row21,
#row22,
#row23,
#row24,
#row25,
#row26,
#row27,
#row28,
#row29,
#row30,
#row31,
#row32,
#row33,
#row34 {
    width: 100%;
    background-color: orange;
    display: grid;
    grid-template-columns: repeat(34,1fr);
}


#row34 {
    font-size:20px;
}

#row28 .item1,
#row28 .item2,
#row28 .item3,
#row28 .item4,
#row28 .item5,
#row28 .item6,
#row29 .item1,
#row29 .item2,
#row29 .item3,
#row29 .item4,
#row29 .item5,
#row29 .item6,
#row30 .item1,
#row30 .item2,
#row30 .item3,
#row30 .item4,
#row30 .item5,
#row30 .item6,
#row31 .item1,
#row31 .item2,
#row31 .item3,
#row31 .item4,
#row31 .item5,
#row31 .item6,
#row32 .item1,
#row32 .item2,
#row32 .item3,
#row32 .item4,
#row32 .item5,
#row32 .item6,
#row33 .item1,
#row33 .item2,
#row33 .item3,
#row33 .item4,
#row33 .item5,
#row33 .item6,
#row34 .item1,
#row34 .item2,
#row34 .item3,
#row34 .item4,
#row34 .item5,
#row34 .item6 {
    background-color: grey;
    animation-name: year;
    animation-duration: 4s;
}

@keyframes year {
    from {opacity:0;}
    to {opacity:1;}
}

#row27 .item7,
#row27 .item8,
#row27 .item9,
#row27 .item10,
#row27 .item11,
#row27 .item12, 
#row26 .item7,
#row26 .item8,
#row26 .item9,
#row26 .item10,
#row26 .item11,
#row26 .item12, 
#row26 .item7,
#row26 .item8,
#row26 .item9,
#row26 .item10,
#row26 .item11,
#row26 .item12, 
#row25 .item7,
#row25 .item8,
#row25 .item9,
#row25 .item10,
#row25 .item11,
#row25 .item12, 
#row24 .item7,
#row24 .item8,
#row24 .item9,
#row24 .item10,
#row24 .item11,
#row24 .item12, 
#row23 .item7,
#row23 .item8,
#row23 .item9,
#row23 .item10,
#row23 .item11,
#row23 .item12,
#row22 .item7,
#row22 .item8,
#row22 .item9,
#row22 .item10,
#row22 .item11,
#row22 .item12
 {
    background-color:cadetblue;
}

#row21 .item13,
#row21 .item14,
#row21 .item15,
#row21 .item16,
#row21 .item17,
#row21 .item18,
#row20 .item13,
#row20 .item14,
#row20 .item15,
#row20 .item16,
#row20 .item17,
#row20 .item18,
#row19 .item13,
#row19 .item14,
#row19 .item15,
#row19 .item16,
#row19 .item17,
#row19 .item18,
#row18 .item13,
#row18 .item14,
#row18 .item15,
#row18 .item16,
#row18 .item17,
#row18 .item18,
#row17 .item13,
#row17 .item14,
#row17 .item15,
#row17 .item16,
#row17 .item17,
#row17 .item18,
#row16 .item13,
#row16 .item14,
#row16 .item15,
#row16 .item16,
#row16 .item17,
#row16 .item18 {
    background-color: aquamarine;
}

#row15 .item19,
#row15 .item20,
#row15 .item21,
#row15 .item22,
#row14 .item19,
#row14 .item20,
#row14 .item21,
#row14 .item22,
#row13 .item19,
#row13 .item20,
#row13 .item21,
#row13 .item22,
#row12 .item19,
#row12 .item20,
#row12 .item21,
#row12 .item22 {
    background-color:darkcyan;
}

#row11 .item23,
#row11 .item24,
#row11 .item25,
#row11 .item26,
#row10 .item23,
#row10 .item24,
#row10 .item25,
#row10 .item26,
#row9 .item23,
#row9 .item24,
#row9 .item25,
#row9 .item26,
#row8 .item23,
#row8 .item24,
#row8 .item25,
#row8 .item26 {
    background-color: darkolivegreen;
}

#row7 .item27,
#row7 .item28,
#row7 .item29,
#row7 .item30,
#row7 .item31,
#row7 .item32,
#row6 .item27,
#row6 .item28,
#row6 .item29,
#row6 .item30,
#row6 .item31,
#row6 .item32,
#row5 .item27,
#row5 .item28,
#row5 .item29,
#row5 .item30,
#row5 .item31,
#row5 .item32,
#row4 .item27,
#row4 .item28,
#row4 .item29,
#row4 .item30,
#row4 .item31,
#row4 .item32,
#row3 .item27,
#row3 .item28,
#row3 .item29,
#row3 .item30,
#row3 .item31,
#row3 .item32,
#row2 .item27,
#row2 .item28,
#row2 .item29,
#row2 .item30,
#row2 .item31,
#row2 .item32 {
    background-color:darkslategrey;
}


