body {
  box-sizing: border-box;
  background-color: #f2edd8;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* background:
    repeating-linear-gradient(
        90deg,
        #193943 0,
        #193943 20px,
        beige 0,
        beige 25px,
        #193628,
        #193628 35px,
        #195421 0,
        #195421 40px,
        #193943 0,
        #193943 60px
    ),
    repeating-linear-gradient(
        #193943 0,
        #193943 20px,
        beige 0,
        beige 25px,
        #193628,
        #193628 35px,
        #195421 0,
        #195421 40px,
        #193943 0,
        #193943 60px
    );
background-blend-mode: multiply;

background:
	repeating-radial-gradient(
		circle,
		transparent,
		transparent 3em,
		#193943 1em,
			transparent 6em,
    #193943 6.5em
	),
	repeating-radial-gradient(
		ellipse farthest-corner,
		transparent 1em,
		#195421 1em,
		 	transparent 5em,
    #195421 2em
	),
	repeating-radial-gradient(
		circle,
		transparent,
		transparent 3em,
		#193628 1em,
			transparent 2em,
    #193628 4em
	),
	repeating-radial-gradient(
		circle,
		transparent 3em,
		#193628 1em,
			transparent 2em,
    #193628 4em
	), white;

background-blend-mode: multiply;
background-size: 10em 10em;
background-position: 0 0, 5em 5em, 15em 50em;*/
}


.nav {
  position: relative;
}

a:link {
  color: #f2edd8;
  text-decoration: none;
  float: center;
  text-align: center;
  position: relative;

}
a:hover {

}



a:visited {
  color: #f2edd8;
}

ul {
  list-style-type: none;
  box-sizing: border-box;
  float: none;
  position: absolute;
  left: 25%;
}

li {
  box-sizing: border-box;
  border-radius: 5px;
  /*border: solid 4px #891515;*/
  background-color: #294221;
  padding-left:20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.3s;
}

li:hover {
  background-color: #891515;
  border-radius: 14px;
}

.active {
  background-color: #891515;
  border-radius: 14px;
}

.top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  /*background-color: lightcoral;*/
  /*height: 100px;*/
  font-size: 30px;

}

/*.top-clm {
  background-color: darkslateblue;
}*/


.middle {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: lightseagreen;
  height: 50px;
  padding: 10px;
}

.btn {
  background-color: lightsteelblue;
  width: 120px;
}

.add-button,
.delete-button {
  height: 100%;
  width: 100%;
  font-size: 20px;
  background-color: blueviolet;
  color: white;
  border: none;
  transition: 0.4s;
}

button:hover {
  background: pink;
}

.btm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 5px;
  background-color: lightcoral;
  font-size: 20px;
}

.btm-left {
  display: flex;
  flex-direction: row;

  gap: 8px;
  width: 75%;
}

.btm-clm-left {
  background-color: lightsalmon;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.btm-clm-left-top {
  background-color: darkolivegreen;
  height: 120px;
}

.btm-clm-left-btm {
  background-color: brown;
}

.btm-clm-left-btm-row {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  height: 60px;
}

.btm-right {
  width: 20%;
  background-color: darksalmon;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.btm-right-top {
  background: darkorange;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.btm-right-top-top {
  background-color: darkgoldenrod;
}
.btm-right-top-btm {
  background-color: darkkhaki;
  display: flex;
  flex-direction: column;
}

.btm-right-top-btm-row {
  display: flex;
  flex-direction: row;
}

input,
select {
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.btm-right-middle {
  background-color:mediumseagreen;
  height: 30%;
}

.btm-right-btm {
  background-color: mediumvioletred;
  height: 30%;
}

.btm1 {
  display: flex;
  flex-direction: column;
}

.plot {
  background: white; 
  color: black;
  width: 400px;
  height: 400px;
}