body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 2000px;
}

button {
  border: none;
  color: inherit;
  background-color: transparent;font-size: inherit;
}

.addBtn,
.deleteBtn {
  border: solid;
  color:#005348;
  background-color: #005348;
  color: white;
}
.topnav ul {
  width: 100%;
  overflow: hidden;
  background-color: #1d252d;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.topnav li {
  float: left;
  border-right: 1px solid #f5ecd2;
}

.topnav li:last-child{
    border-right: none;
}

/*
.topnav li a {
    display: block;
    padding: 14px 16px;
    text-align: center;
    color: white;
    text-decoration: none; 
}

.topnav li a:hover {
    background-color: #000000;
}
*/
.topnav li a.active {
  background-color: #005348;
  color: white;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #46295a;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

/*.topnav li a:hover:not(.active) {
    background-color: #000000;
}*/

/* Huge problems here with .Dropdown
original code is :position relative, display inline-block*/

/*.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropbtn {
    background-color: #46295a;
}
*/

.tableTitle {
  display:flex;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  justify-content: space-between;
}