body {
  margin: 0;
  box-sizing: border-box;
  background: black;
  color: white;
}

.bg {
  display: flex;
  flex-direction: column;
  gap:20px;

}

.top-section {
  background-color: pink;
}

.middle-section{
  background-color: lightyellow;
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.bottom-section {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}

.bottom-column {
  display: block;
  background-color: green;
  padding:2px;
  font-size: 24px;
}

.btm-clm-row {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  height: 50px;
}
button {
  width: 80px;
  height: 30px;
  font-size: 20px;
}

select,
input {
  width: 200px;
  height: 50px;
  padding: 5px;
  font-size: 20px;;
  box-sizing: border-box;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: none;
}