
main {
    padding-top: 100px;;
}

#intro {
    background-color: white;
    color:black

}

.section-wrapper-top {
    background:#414141;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap:5px;
    justify-content: space-between;
    margin:10px;
    padding: 20px;
    border-radius: 2px;
}

@media screen and (max-width:1000px) {
    .section-wrapper-top {
        grid-template-columns: repeat(3,1fr);
    }
}

footer {
    color:white;
    background: black;
    text-align: center;
    padding: 10px;
}

#intro {
    background-color: #212121;
    color:white;

}

main {
    padding: 20px;
    padding-top:100px;
}


.section-wrapper-head,
.section-wrapper-odd {
    background: #212121;
    display: flex;
    flex-direction: column;
    gap:5px;
    margin:10px;
    padding: 20px;
    padding-right:50px;
    padding-left:50px;
    margin-left: 50px;
    margin-right:50px;
    border-radius: 2px;
    border-width:1px;
    border-style:solid;
    border-image: linear-gradient(to right,#c6ba73,#294221) 30;
}

@media screen  and (min-width: 1400px) {
    main {
        justify-content: center;
    }
    
    .section-wrapper-odd {
        width: 1180px;
    }

    .section-wrapper-head {
        width:1320px;
    }
    
}

.module-wrapper-even,
.module-wrapper-odd {
    display:grid;
    grid-template-columns: auto auto;
    gap:40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #294221;
    align-self: start;
    border-radius: 8px;
}

.module-wrapper-even {
    background-color: #c6ba73;
    align-self: self-end;
}

.unit-odd
.unit-even {
    float:right;
    max-width: fit-content;
}

.unit {
    background: none;
}



@media screen and (max-width:1000px) {
    .section-wrapper-odd {
        grid-template-columns: repeat(3,1fr);
    }
}

.unit-wrapper-even {
    justify-content: end;
}

.section-wrapper-head {
    background:#294221;
    margin:10px;
    padding: 20px;
    border-radius: 2px;
}

h1 {
    text-align: center;
}