/* Click-me button*/
html,
body {
  box-sizing: border-box;
  background-color: black;
  height: 100%;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
}

.button-container {
  display:flex;
  justify-content: center;
  gap:20px;
}

button:focus {
  outline: none;
}

button:hover span {
  color: #294221;
}

button {
  height: 60px;
  padding:14px;
  font-size: 24px;
  color: black;
  cursor: pointer;
  position: relative;
  border-radius: 20px;
  font-weight: 600;
    background-color: transparent;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s;
  border:none;
  background-image: linear-gradient(#294221,#c6ba73) ;
  box-shadow: 0 0px 0px 0 rgba(90, 191, 35, 0.5),
              0 -4px 20px rgba(42, 157, 11, 0.43) inset,
              0 12px 8px rgba(191, 168, 35, 0.4) inset,
              0 4px 8px 0 rgb(191, 160, 35) inset;
}


/*#next-btn {
  border: 1px solid  #1a200ed0;
  background-image: linear-gradient(-180deg, #556b2f 0%,#2b3618 100%);
  box-shadow: 0 0px 0px 0 rgba(42, 58, 26, 0.5),
              0 -4px 20px rgb(44, 59, 27) inset,
              0 12px 8px rgba(38, 52, 23, 0.4) inset,
              0 4px 8px 0 rgb(38, 49, 22) inset
}*/

button span {
  background-image: linear-gradient(0deg, #a4d736 0%, #f2edd8 100%);
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(0 2px 2px rgb(77, 78, 36));
}

/*
#next-btn i {
  background-image: linear-gradient(0deg, #36d73b3e 0%, #f2edd8 100%);
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(0 2px 2px rgba(24, 80, 9, 0.27));
}
*/

button::before {
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 45px);
  background: #ffffff;
  border-radius: 100%;
  opacity: 0.6;
  background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

button::after {
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 50px);
  background: #fff;
  border-radius: 100%;
  filter: blur(1px);
  opacity: 0.05;
  background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

button:hover {
  background: #fff4ce;
}
 