html,
body {
  position: relative;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: cursive;
  animation-name: appear;
  animation-duration:10s;
  background-color: black;
}

@keyframes appear {
  0% {background-color: white;}
  50% {background-color: white;}
  to {background-color: black;}
}

.curtain {
  display: flex;
  position: absolute;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.h1 {
  font-size: 30px;
  z-index: 99;
}

canvas {
  height: 100%;
  width: 100%;
}

.line1 {
  background-color: red;
  width: 20px;
  height: 10px;
}