/* Click-me button*/
html,
body {
  box-sizing: border-box;
  background-color: black;
  height: 100%;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
}

.button-container {
  display:flex;
  justify-content: center;
  gap:20px;
}


button {
  background-color: green;
  border: none;
}

button {
  align-items: center;
  height: 60px;
  font-size: 26px;
  box-sizing:border-box;
  box-shadow: none;
  border: none;
  color: white;
  background: none;
 }
 
 button:hover {
  cursor: pointer;
 }
 
 button {
  height: auto;
  width: auto;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  line-height: 40px;
  font-weight: 600;
  border: 1px solid #000000;
  padding: 10px;
  background-image: linear-gradient(-180deg, #2f2f2f 0%, #262626da 100%);
  box-shadow: 
              0 -4px 20px rgb(26, 26, 26) inset,
              0 12px 8px rgba(54, 53, 53, 0.4) inset,
              0 4px 8px 0 rgba(85, 85, 85, 0.897) inset;
 }
 
 button:hover {
  background:  rgb(226, 224, 224);
 }
 
 button span {
  color: white;
  font-family: 'Libre Baskerville', serif;
  background-image: linear-gradient(0deg, #2b2b2b 0%, #979595 100%);
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(0 2px 2px rgb(64, 64, 64));
 }
 
 button::before {
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 50px);
  background: #ffffff;
  border-radius: 100%;
  opacity: 0.6;
  background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
 }
 
 button::after {
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 50px);
  background: #fff;
  border-radius: 100%;
  filter: blur(1px);
  opacity: 0.05;
  background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
 }
 